body {
  display: grid;
  align-content: flex-start;
  padding: var(--size-7);
  gap: var(--size-7);
  justify-content: center;
  position: relative;

  --nav-icon: var(--text-2);
  --nav-icon-hover: var(--text-1);
  box-sizing: border-box;
  margin: 0;
}

[data-theme='dark'] {
  color-scheme: dark;

  --link: var(--indigo-3);
  --link-visited: var(--purple-3);

  --text-1: var(--gray-1);
  --text-2: var(--gray-4);

  --surface-1: var(--gray-9);
  --surface-2: var(--gray-8);
  --surface-3: var(--gray-7);
  --surface-4: var(--gray-6);

  --shadow-strength: 10%;
  --shadow-color: 220 40% 2%;

  --scrollthumb-color: var(--gray-6);
}

h1 {
  max-inline-size: 17ch;
}

#surface-samples {
  display: grid;
  --size: var(--size-content-1);
  grid-template-columns: repeat(auto-fill, minmax(var(--size), 1fr));
  gap: var(--size-5);
  margin-block-start: var(--size-6);
}

@media (max-width: 480px) {
  #surface-samples {
    --size: 40vw;
  }
}

#surface-samples > * {
  border-radius: var(--radius-3);
  display: grid;
  place-content: center;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);

  box-shadow: var(--shadow-6);
}

#forms__html5 {
  & p {
    display: flex;
    align-items: center;
    gap: var(--size-2);
  }
}

.surface-1 {
  background-color: var(--surface-2);
  color: var(--text-2);
  /* aspect-ratio: var(--ratio-square); */
}
#colorWell {
  --size: var(--size-10);
  inline-size: 100%;
  block-size: calc(var(--size) / 2);
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.icons-container {
  /* background-color: antiquewhite; */
  display: flex;
  gap: var(--size-2);
  align-content: center;
  align-items: center;

  > button {
    background-color: unset;
  }

  > a > svg {
    fill: var(--nav-icon);
  }

  > a:hover > svg {
    fill: var(--nav-icon-hover);
  }
}

/* Handle Dark Theme Toggle */

#moon,
#sun {
  fill: var(--nav-icon);
  stroke: none;
}

:hover > svg > #moon,
:hover > svg > #sun {
  fill: var(--nav-icon-hover);
}

#sun {
  transition: transform 0.5s var(--ease-4);
  transform-origin: center center;
}

#sun-beams {
  --_opacity-dur: 0.15s;
  stroke: var(--nav-icon);
  stroke-width: 2px;
  transform-origin: center center;
  transition: transform 0.5s var(--ease-elastic-4),
    opacity var(--_opacity-dur) var(--ease-3);
}

:hover > svg > #sun-beams {
  stroke: var(--nav-icon-hover);
}

#moon > circle {
  transition: transform 0.5s var(--ease-out-3);
}

[data-theme='light'] #sun {
  transform: scale(0.5);
}

[data-theme='light'] #sun-beams {
  transform: rotate(0.25turn);
  --_opacity-dur: 0.5s;
}

[data-theme='dark'] #moon > circle {
  transform: translate(-20px);
}

[data-theme='dark'] #sun-beams {
  opacity: 0;
}

footer {
  box-sizing: border-box;
  position: fixed;
  padding: var(--size-2);
  left: 0;

  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-2);
  & svg {
    block-size: 24px;
    inline-size: 24px;
  }
}
